<nav class='navbar navbar-expand navbar-light bg-light'>
    <ul class='nav nav-pills'>
<li><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/inserisciCorso']">Inserisci corso</a>
  </li>
  </ul>

  </nav>
<div class="card" *ngFor='let corso of corsi'>
<span >Corso: {{corso.nome}}</span><br/>

<a class="btn btn-primary"
[routerLink]="['/corsi', corso.idCorso]">Dettagli</a>
<a class="btn btn-primary"
[routerLink]="['/studentiCorso', corso.idCorso]">Iscritti</a>
</div>

