
<nav class='navbar navbar-expand navbar-light bg-light'>
    <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/inserisciStudente']">Aggiungi studente</a>
  </li>
  </ul>
  </nav>


<div class="card" *ngFor='let studente of studenti'>    
    <span >Nome: {{studente.nome}}</span><br/>
    <span >Cognome: {{studente.cognome}}</span><br/>
     
    <a class="btn btn-primary"
    [routerLink]="['/studenti', studente.codiceFiscale]">Dettagli</a>
    <button class="btn btn-primary" (click)="cancella(studente)"
    >Cancella iscrizione</button>
</div>
