<div class="card">
    <div class="card-header">
      Iscriviti
    </div>
  
    <div class="card-body">
      <form novalidate
            autocomplete="off"
            (ngSubmit)="save(signupForm)"
            #signupForm="ngForm">
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="nome">Nome</label>
          <div class="col-md-8">
            <input class="form-control"
                  
                   type="text"
                   placeholder="Nome (richiesto)"
                   required
                   minlength="3"
                   maxlength="25"
                   [(ngModel)]=studente.nome
                   name="nome"
                   #nomeVar="ngModel"
                   [ngClass]="{'is-invalid': (nomeVar.touched || nomeVar.dirty) && !nomeVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="nomeVar.errors?.required">
                Per favore inserisci il nome.
              </span>
              <span *ngIf="nomeVar.errors?.minlength">
                Il nome deve essere lungo almeno 3 caratteri.
              </span>
              
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="cognome">Cognome</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="text"
                   placeholder="Cognome (richiesto)"
                   required
                   maxlength="25"
                   [(ngModel)]="studente.cognome"
                   name="cognome"
                   #cognomeVar="ngModel"
                   [ngClass]="{'is-invalid': (cognomeVar.touched || cognomeVar.dirty) && !cognomeVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="cognomeVar.errors?.required">
                Per favore inserisci il cognome.
              </span>
              
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="dataNascita">Data di nascita</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="date"                   
                   required
                   
                   [(ngModel)]=studente.dataNascita
                   name="dataNascita"
                   #dataNascitaVar="ngModel"
                   [ngClass]="{'is-invalid': (dataNascitaVar.touched || dataNascitaVar.dirty) && !dataNascitaVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="dataNascitaVar.errors?.required">
                Per favore inserisci la data di nascita.
              </span>              
            </span>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label"
                   for="codiceFiscale">Codice Fiscale</label>
            <div class="col-md-8">
              <input class="form-control"
                     
                     type="text"
                     placeholder="Codice Fiscale (richiesto)"
                     required
                     minlength="5"
                     maxlength="25"
                     [(ngModel)]=studente.codiceFiscale
                     name="codiceFiscale"
                     #codiceFiscaleVar="ngModel"
                     [ngClass]="{'is-invalid': (codiceFiscaleVar.touched || codiceFiscaleVar.dirty) && !codiceFiscaleVar.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="codiceFiscaleVar.errors?.required">
                  Per favore inserisci il codice fiscale.
                </span>
                <span *ngIf="codiceFiscaleVar.errors?.minlength">
                  Il codice fiscale deve essere lungo almeno 5 caratteri.
                </span>
                
              </span>
            </div>
          </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="email"
                   placeholder="Email (richiesto)"
                   required
                   maxlength="25"
                   email
                   [(ngModel)]="studente.email"
                   name="email"
                   #emailVar="ngModel"
                   [ngClass]="{'is-invalid': (emailVar.touched || emailVar.dirty) && !emailVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="emailVar.errors?.required">
                Per favore inserisci la email.
              </span>
              <span *ngIf="emailVar.errors?.email">
                Per favore inserisci una email vailda.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row">
            <label class="col-md-2 col-form-label pt-0">Sesso</label>
            <div class="col-md-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"
                         required
                         type="radio"                         
                         value="M"
                         [(ngModel)]="studente.sesso"
                         name="sesso"> Maschio
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"
                         required
                         type="radio"
                         value="F"
                         [(ngModel)]="studente.sesso"
                         name="sesso"> Femmina
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"
                         required
                         type="radio"
                         value="X"
                         [(ngModel)]="studente.sesso"
                         name="sesso"> Altro
                </label>
              </div>
            </div>
          </div>
  
          <div class="form-group row">
            <div class="col-md-8">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input"
                         id="sendCatalogId"
                         type="checkbox"
                         [(ngModel)]="studente.sendCatalog"
                         name="sendCatalog"> Iscriviti
                </label>
              </div>
            </div>
          </div>

        <div *ngIf="studente.sendCatalog">
          
  
          <div class="form-group row">
            <label class="col-md-2 col-form-label"
                   for="street1Id">Seleziona un corso:</label>
            <div class="col-md-8">
              <div class="col-md-3">
                <select class="form-control"
                        id="stateId"
                        required
                        [(ngModel)]="studente.corso"
                        name="state">
                  <option value=""
                          disabled
                          selected
                          hidden>Seleziona un corso</option>
                  <option *ngFor= 'let corso of corsi' [value] = 'corso.idCorso'> {{corso.nome}} </option>
                                  
                </select>
              </div>
            </div>
          </div>
  
      
  
          <div class="form-group row">
            
        
            
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-md-4">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="!signupForm.valid">
                Inserisci
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card" >
    {{result}}
  </div>
