<div class="card">
    <div class="card-header">
      Iscriviti
    </div>
  
    <div class="card-body">
      <form novalidate
            autocomplete="off"
            (ngSubmit)="save()"
            [formGroup]="studenteForm">
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="nome">Nome</label>
          <div class="col-md-8">
            <input class="form-control"
                  
                   type="text"
                   placeholder="Nome (richiesto)"                   
                   formControlName="nome"                   
                   [ngClass]="{'is-invalid': (studenteForm.get('nome').touched || studenteForm.get('nome').dirty) && !studenteForm.get('nome').valid }" />
            <span class="invalid-feedback">
              <span *ngIf="studenteForm.get('nome').errors?.required">
                Per favore inserisci il nome.
              </span>
              <span *ngIf="studenteForm.get('nome').errors?.maxlength">
                Il nome deve essere lungo meno di 25 caratteri.
              </span>
              
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="cognome">Cognome</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="text"
                   placeholder="Cognome (richiesto)"                   
                   formControlName="cognome"                   
                   [ngClass]="{'is-invalid': (studenteForm.get('cognome').touched || studenteForm.get('cognome').dirty) && !studenteForm.get('cognome').valid }" />
            <span class="invalid-feedback">
              <span *ngIf="studenteForm.get('cognome').errors?.required">
                Per favore inserisci il cognome.
              </span>
              <span *ngIf="studenteForm.get('cognome').errors?.maxlength">
                Il cognome deve essere lungo meno di 25 caratteri.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="dataNascita">Data di nascita</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="date"               
                   formControlName="dataNascita"                   
                   [ngClass]="{'is-invalid': (studenteForm.get('dataNascita').touched || studenteForm.get('dataNascita').dirty) && !studenteForm.get('dataNascita').valid }" />
            <span class="invalid-feedback">
              <span *ngIf="studenteForm.get('dataNascita').errors?.required">
                Per favore inserisci la data di nascita.
              </span>  
              <span *ngIf="studenteForm.get('dataNascita').errors?.minorenne">
                Devi essere maggiorenne per poterti iscrivere.
              </span>            
            </span>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label"
                   for="codiceFiscale">Codice Fiscale</label>
            <div class="col-md-8">
              <input class="form-control"
                     
                     type="text"
                     placeholder="Codice Fiscale (richiesto)"                     
                     formControlName="codiceFiscale"
                     [ngClass]="{'is-invalid': (studenteForm.get('codiceFiscale').touched || studenteForm.get('codiceFiscale').dirty) && !studenteForm.get('codiceFiscale').valid }" />
              <span class="invalid-feedback">
                <span *ngIf="studenteForm.get('codiceFiscale').errors?.required">
                  Per favore inserisci il codice fiscale.
                </span>
                <span *ngIf="studenteForm.get('codiceFiscale').errors?.maxlength">
                  Il codice fiscale deve essere lungo meno di 25 caratteri.
                </span>
                
              </span>
            </div>
          </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   
                   type="email"
                   placeholder="Email (richiesto)"                   
                   formControlName="email"
                   [ngClass]="{'is-invalid': (studenteForm.get('email').touched || studenteForm.get('email').dirty) && !studenteForm.get('email').valid }" />
            <span class="invalid-feedback">
              <span *ngIf="studenteForm.get('email').errors?.required">
                Per favore inserisci la email.
              </span>
              <span *ngIf="studenteForm.get('email').errors?.email">
                Per favore inserisci una email vailda.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row">
            <label class="col-md-2 col-form-label pt-0">Sesso</label>
            <div class="col-md-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"                         
                         type="radio"                         
                         value="M"                         
                         formControlName="sesso"> Maschio
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"
                         type="radio"
                         value="F"
                         formControlName="sesso"> Femmina
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input"
                         type="radio"
                         value="X"
                         formControlName="sesso"> Altro
                </label>
              </div>
            </div>
          </div>
  
          <div class="form-group row">
            <div class="col-md-8">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input"                         
                         type="checkbox"                         
                         formControlName="iscrizioneCorso"> Iscriviti
                </label>
              </div>
            </div>
          </div>

        <div *ngIf="studenteForm.get('iscrizioneCorso').value">
          
  
          <div class="form-group row">
            <label class="col-md-2 col-form-label"
                   for="street1Id">Seleziona un corso:</label>
            <div class="col-md-8">
              <div class="col-md-3">
                <select class="form-control"                        
                       formControlName="corso">
                  <option value=""
                          disabled
                          selected
                          hidden>Seleziona un corso</option>
                  <option *ngFor= 'let corso of corsi' [value] = 'corso.idCorso'> {{corso.nome}} </option>
                                  
                </select>
              </div>
            </div>
          </div>
  
      
  
          <div class="form-group row">
            
        
            
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-md-4">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="!studenteForm.valid">
                Inserisci
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card" >
    {{result}}
  </div>
